.top {
    left: 0;
    right: 0;
    height: 76px;
    flex-shrink: 0;
    border-radius: 0px 0px 15px 15px;
    background-color: #91543F;
    border: none;
    position: absolute;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.top>h1 {
    color: #FFF7ED;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top > svg{
    position: absolute;
    left: 10px;
}