.InTheFirstLine {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: row;
    left: 5%;
    top: 10%;
}

.InputName {
    margin-left: 15px;
    border-radius: 15px;
    background: #FFDEB2;
    width: 116px;
    height: 42px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputname {
    width: 90px;
    border: none;
    background-color: #FFDEB2;
    outline: none;
}

.inputname::-webkit-input-placeholder {
    color: #E99F72;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.OutsideBox {
    position: absolute;
    top: 23%;
    left: 5%;
    width: 354px;
    height: 437px;
    border: none;
    border-radius: 25px;
    background: #FFDEB2;
}

.InsideBox {
    position: absolute;
    top: 53px;
    left: 17px;
    width: 318px;
    height: 351px;
    flex-shrink: 0;
    border-radius: 25px;
    background-color: #FFF7ED;
    border: none;
    outline: none;
}

.TheWordWannaSay {
    position: absolute;
    top: 17px;
    left: 30px;
    color: #91543F;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.InsideTextarea {
    background-color: #FFF7ED;
    border: none;
    outline: none;
    width: 280px;
    position: relative;
    left: 17px;
    top: 25px;
    height: 300px;
}

.InTheBottom {
    position: absolute;
    bottom: 13%;
    left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BottomButton {
    width: 231px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFDEB2;
    color: #513617;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.AllToFriend{
    height: 100%;
    left: 0;
    right: 0;
    background-image: url('./SVG/送别人.png');
}