.img {
    position: absolute;
    top: 9%;
    padding: 0;
    width: 88%;
    left: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.AllElement {
    height: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    background-image: url('./SVG/BackGround.png');
}

.Under {
    position: absolute;
    bottom: 11%;
    left: 6%;
}

.Input {
    border-radius: 20px;
    background: #FFF0DC;
    width: 140px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.textword {
    border: none;
    background-color: #FFF0DC;
    height: 30px;
    width: 120px;
    outline: none;
}

.textword::-webkit-input-placeholder {
    color: #AE7755;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.TextArea {
    width: 300px;
    height: 205px;
    padding: 10px;
    background: #FFF0DC;
    border-radius: 20px;
}

.textarea {
    width: 275px;
    height: 180px;
    background: #FFF0DC;
    border: none;
    outline: none;
}

.label {
    color: #AE7755;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.LastLine {
    left: 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.btn {
    width: 97px;
    height: 37px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #E99F72;
    border: none;
    margin-right: 10px;
}

.Counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.HowToDrink {
    margin-left: 10px;
}